/* elements for grid */

* {
    box-sizing: border-box;
}


[class*="col-"] {
    float: left;
    min-height: 1px;
}

.row {
    &:before,
    &:after {
      content: ' ';
      display: table;
    }
  
    &:after {
      clear: both;
    }
}
  
@media (min-width: 769px) {
  
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
  
    .col-offset-0 {margin-left: 0;}
    .col-offset-1 {margin-left: 8.33%;}
    .col-offset-2 {margin-left: 16.66%;}
    .col-offset-3 {margin-left: 25%;}
    .col-offset-4 {margin-left: 33.33%;}
    .col-offset-5 {margin-left: 41.66%;}
    .col-offset-6 {margin-left: 50%;}
    .col-offset-7 {margin-left: 58.33%;}
    .col-offset-8 {margin-left: 66.66%;}
    .col-offset-9 {margin-left: 75%;}
    .col-offset-10 {margin-left: 83.33%;}
    .col-offset-11 {margin-left: 91.66%;}
}
  
@media (max-width: 768px) {
  
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
